! neutral
#define c00 #000709
#define c08 #1e1f25
#define c06 #353844
#define c14 #525867
#define c07 #9da8c1
#define c15 #f3f0e6
! red
#define c01 #3d0602
#define c09 #7d1e36
! green
#define c02 #275434
#define c10 #97b65b
! blue
#define c03 #073945
#define c11 #2299ae
! rock
#define c04 #49372c
#define c12 #82675c
#define c05 #b9987a
#define c13 #4f6e76

#define c_bg_norm c00
#define c_bg_fade c08
#define c_fg_fade c07
#define c_fg_norm c15
#define c_inactive c03
#define c_active c11
