! load our generated theme colors
#include ".glue/gen/.Xresources"

!! Colors

! black, darkgrey, grey, white
*color0: C_0
*color8: C_8
*color7: C_7
*color15: C_15
! dark red, light red
*color1: C_1
*color9: C_9
! dark yellow, light yellow
*color3: C_3
*color11: C_11
! dark green, light green
*color2: C_2
*color10: C_10
! dark cyan, light cyan
*color6: C_6
*color14: C_14
! dark blue, light blue
*color4: C_4
*color12: C_12
! dark magenta, light magenta
*color5: C_5
*color13: C_13

*.foreground: C_FG
*.background: C_BG
*.cursorColor: C_FG

!! Fonts

*.font: xft:HackNerdFontCompleteM Nerd Font:style=regular:size=10
*.boldFont: xft:HackNerdFontCompleteM Nerd Font:style=Bold:size=10
*.italicFont: xft:HackNerdFontCompleteM Nerd Font:style=Italic:size=10
*.boldItalicFont: xft:HackNerdFontCompleteM Nerd Font:style=Bold Italic:size=10

Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

!! URxvt terminal

!URxvt.background-focused: #000000
!URxvt.background-unfocused: #262626
URxvt.internalBorder: 20
URxvt.externalBorder: 0
URxvt.borderColor: C_BG
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 92x24
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 24
URxvt.iso14755: false
!URxvt.termName: rxvt
!URxvt.perl-xt: focus-background
