#define c_black #060607
#define c_darkgrey #252621
#define c_grey #6d6a63
#define c_white #f6eed8
#define c_darkred #45180e
#define c_red #c5372b
#define c_darkyellow #ea7110
#define c_yellow #f8d72b
#define c_darkgreen #ffffff
#define c_green #ffffff
#define c_darkcyan #032f2b
#define c_cyan #3f8477
#define c_darkblue #111c59
#define c_blue #45718c
#define c_darkmagenta #ffffff
#define c_magenta #ffffff
